* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #213559;
  text-align: center;
  color: #e8e9f3;
  align-items: center;
}
/* -----------------------
!!!!!! Test Style !!!!!!
-------------------------- */
h1 {
  font-size: 70px;
  margin-top: 40px;
}
p {
  font-size: 30px;
}

/* -----------------------
!!!!!!!!! Main !!!!!!!!!!!
-------------------------- */
main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
#money-el {
  background-color: gray;
  margin-right: 50px;
  align-self: center;
}
/* -----------------------
!!!!!!!!! Aside !!!!!!!!!!!
-------------------------- */
aside {
  margin-top: 30px;
  background-color: #2d0320;
  padding: 40px 150px;
}
#uppgrade {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.price {
  margin-right: 60px;
}
/* -----------------------
!!!!!!     Flex    !!!!!!
-------------------------- */
.flex {
  display: flex;
  justify-content: center;
  background-color: #550467;
  padding: 20px 10px;
}
/* -----------------------
!!!!!! Image Style !!!!!!
-------------------------- */
img {
  width: 200px;
  border-radius: 60px;
}
/* -----------------------
!!!!!! Button Style !!!!!!
-------------------------- */
button {
  padding: 10px 20px;
  border: none;
}
