* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-background: #161a1d;
  --text: #f5f3f4;
  --cont-background: #b1a7a6;
}
/* MAIN TAGS */
body {
  display: flex;
  background-color: var(--main-background);
  color: var(--text);
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 70px;
  margin: 40px 0px 40px 0px;
  flex: 100%;
}
h2,
#txt-style-money {
  color: var(--main-background);
}
p {
  font-size: 30px;
}

main {
  justify-content: center;
  flex: 50%;
  margin-bottom: 30px;
  max-width: 30rem;
}
img {
  width: 200px;
  height: 300px;
  border-radius: 60px;
  border: solid var(--cont-background) 3px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

aside {
  background-color: var(--cont-background);
  margin-inline: 10px;
  padding: 40px 150px;
  border-radius: 20px;
  flex: 50%;
  max-width: 40rem;
}
/* MAIN TAGS */

/*ID'S*/
#txt-style-money {
  background-color: var(--cont-background);
  margin-right: 50px;
  align-self: center;
  padding: 10px 20px;
  border-radius: 20px;
}
#uppgrade {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}
/*ID'S*/

/*CLASS*/
.price {
  margin-right: 60px;
}
.sect-cont {
  background-color: var(--main-background);
  justify-content: center;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 20px;
}
/*CLASS*/

/* UTILITY */
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
/* UTILITY */
